html{
    box-sizing: border-box;
 }

 *, *::before, *::after{
    box-sizing: inherit;
 }

 body{
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
    background: #ffffff;
 }

 .wrapper{
    max-width: 1440px;
    margin: 0 auto;
 }

 .header, .main{
    display: flex;
    flex-wrap: wrap;
 }

 .avatar{
    width: 220px;
    height: 220px;
 }
